.new-ad-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.create-ad-wrapper{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}