@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.animate-blink {
    animation: fading 1s infinite;
}

.pdt-item-showcase .prev-nav span {
    font-size: 1.3125rem;
    cursor: pointer;
}

.pdt-item-showcase .prev-nav span+span {
    margin-left: 16px;
}

.vertical-slider-wrapper.pdt-item-showcase .prev-nav span+span {
    margin-left: 0px;
}

.single-pdt-page .slick-disabled {
    opacity: 0.5;
}

.pdt-item-info ul.nav-tabs li a {
    text-transform: capitalize;
    color: #050521;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.pdt-item-info ul.nav-tabs li a.active:before {
    opacity: 1;
    visibility: visible;
}

.rating-blk ul li span.fa-star,
.rating-blk ul li span.fa-star-half-o {
    color: #ffc000;
}

.accordion .card-header a:after {
    font-family: 'Linearicons-Free';
    content: "\e873";
    float: right;
}

.accordion .card-header a.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e874";
}

.social-share-list a {
    background-color: #ebebeb;
}

.social-share-list a:hover,
.social-share-list a:focus {
    background-color: #1579ee;
    color: #ffffff;
}