/* ******************************************
    :: 16.0 PRODUCT LIST & GRID VIEW CSS
*********************************************/

.filtros {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.form-select[multiple],
.form-select[size]:not([size="1"]) {
  height: 100px;
}

.tab-content {
  flex-direction: row;
}
/* .ad-container {
  display: flex;
  width: 100vw;
  gap: 30px;
} */
