.top-header-section {
  background-color: #09162a;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* @media (min-width: 992px){
.container {
    max-width: 960px;
} */

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
