.login-or {
  color: #000;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.or-line {
  background-color: #707070;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

.span-or {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 42px;
}

.custom-modal .modal-header {
  border-bottom: 0;
}

.custom-modal .modal-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.custom-modal .modal-subtitle {
  margin-bottom: 35px;
}

.custom-modal .modal-body {
  padding: 38px;
}

.close {
  opacity: 1;
}

.custom-modal .form-group {
  margin-bottom: 30px;
}

.custom-modal .member a {
  color: #77a6f6;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  font-weight: 600;
}

.custom-modal .search-box {
  border-color: #77a6f6;
  border-radius: 30px;
}

.custom-modal .form-control {
  border: 1px solid transparent;
  border-radius: 30px;
}

.custom-modal .submit-btn {
  height: 50px;
}

.custom-modal .btn {
  border-radius: 30px;
}

.custom-modal .btn-outline-primary {
  padding: 13px 10px;
  margin-bottom: 30px;
  color: #000;
  font-weight: 600;
}

.custom-modal .btn-outline-primary:hover {
  color: #ffffff;
}

.policy-text {
  border-bottom: 1px solid #707070;
  padding-bottom: 1rem;
}

.policy-text a {
  border-bottom: 1px solid #707070;
}

.forgot-link {
  color: #327eff;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  font-weight: 600;
}

.modal.show {
  overflow-y: auto;
}
