.changeDiv-msg{
    color: white;
    background-color: rgb(97, 97, 238);
    border-radius: 2px;
    display: inline;
    padding: 2px 5px;
    margin-bottom: 10px;
}
.btnChangePass{
    border-radius: 5px !important;
}
.chgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.title-chg{
    display: block;
    text-align: center;
}
.password{
    width: 100% !important;
    display: block;
    margin-bottom: 10px;
}