body {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: normal;
  color: #050521;
  font-size: 15px;
  line-height: 1.8;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #ca970b;
}

ul,
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

li {
  list-style: none;
}

b,
strong {
  font-weight: 600;
}

a,
button,
input {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  outline: 0px;
}

a:hover,
a:focus,
a:active {
  color: #ca970b;
  outline: none;
  text-decoration: none;
}

.form-control:focus {
  outline: 0;
  box-shadow: none;
  border: 1px solid #050521;
  background-color: transparent;
}

button:focus {
  outline: 0;
  box-shadow: none;
  border-color: transparent;
}

img {
  max-width: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea,
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  height: 45px;
  border-radius: 0.25rem;
  color: #898f96;
  width: 100%;
  padding: 0 20px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #ca970b;
  background-color: #ca970b;
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(202, 151, 11, 0.23);
}
h1 {
  font-size: 3.11rem;
  font-weight: 300;
}

h2 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 2rem;
}

.animate-menu .dropdown-menu {
  display: block;
  top: 79px;
  position: absolute;
  z-index: 9;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  min-width: 401px;
  max-width: 500px;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
}

.animate-menu .dropdown-menu.dropdown-xs {
  min-width: 104px;
}

.animate-menu .dropdown-menu.show {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  visibility: visible;
}

.animate-menu.dropdown .dropdown-toggle:after,
.dropdown .dropdown-toggle:after {
  font-family: "Linearicons-Free";
  content: "\e874";
  border: 0rem !important;
  padding-left: 0.5rem;
  font-weight: bold;
  float: right;
}

.default-menu .dropdown-menu.show {
  display: block;
  transform: none !important;
}

.default-menu .dropdown-menu {
  width: 100%;
  display: none;
}

.default-menu .dropdown-menu ul li {
  margin-bottom: 0rem;
}

.default-menu .dropdown-menu ul li a {
  font-size: 14px;
  color: #999999;
}

.default-menu .dropdown-menu ul li:hover a,
.default-menu .dropdown-menu ul li:focus a {
  color: #1579ee;
  background-color: transparent;
}

.inr-toggle-arrow.dropdown-toggle span {
  font-family: "Roboto", sans-serif;
}

.main-menu nav ul.navbar-nav li.nav-item a.nav-link {
  padding: 2rem 1rem !important;
}

.main-menu .dropdown-item.user-menu-item:hover,
.user-block .dropdown-item.user-menu-item:focus {
  background-color: transparent;
  color: #1579ee;
}

.main-menu .header-items ul li {
  margin-right: 0rem;
  float: left;
}

.main-menu .header-items ul li.map-menu-style {
  padding: 1.67rem;
  border-right: 1px solid #505050;
}

.main-menu .header-items ul li a {
  display: inline-block;
  padding: 1.4rem 0rem 1.4rem 1.4rem;
}

.main-menu .header-items ul li a {
  font-size: 1rem;
  padding: 1.67rem;
  color: #ffffff;
  border-right: 1px solid #505050;
}

.main-menu .header-items ul li a:hover,
.main-menu .header-items ul li a.active,
.main-menu .header-items ul li a:focus {
  background: #ffffff;
  color: #1579ee;
}

.main-menu .header-items ul li.explore-menu-style a {
  color: #1579ee;
}

.main-menu .header-items ul li.explore-menu-style:hover a,
.main-menu .header-items ul li.explore-menu-style a.active {
  background-color: #1579ee;
  color: #ffffff;
}

.main-menu .header-items ul li.sell-pdt-menu-style a {
  color: #81bf30;
}

.main-menu .header-items ul li.sell-pdt-menu-style:hover a {
  background-color: #81bf30;
  color: #ffffff;
}

.main-menu .header-items ul li.dropdown .dropdown-menu a {
  padding: 0.5rem 1.4rem;
  border-right: 0px solid #505050;
}

.main-menu .header-items ul li.dropdown .dropdown-menu a.btn-style:hover {
  background-color: #1579ee;
  color: #ffffff;
}

.logo .navbar-brand {
  font-size: inherit;
}

#offcanvas_menu {
  position: fixed;
  height: 100%;
  width: 0px;
  top: 0;
  right: 0;
  background: #fff;
  overflow: hidden;
  z-index: 999;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.3);
}

.slidebar-menu .slimScrollBar {
  opacity: 1 !important;
}

.menu-slider p {
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  font-weight: 600;
}

.menu-slider h1 {
  color: #ffffff;
  font-size: 3.2rem;
}

.menu-widget-grid li {
  margin-bottom: 1rem;
}

.close-btn-blk {
  z-index: 9999;
}

.close-btn-blk a svg {
  width: 50px;
  height: 50px;
}

.icon-bar {
  width: 22px;
  height: 2px;
  display: block;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*-----------------
	15. Login
-----------------------*/

.login-or {
  color: #000;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.or-line {
  background-color: #707070;
  height: 1px;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
}

.span-or {
  background-color: #fff;
  display: block;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 42px;
}

.custom-modal .modal-header {
  border-bottom: 0;
}

.custom-modal .modal-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.custom-modal .modal-subtitle {
  margin-bottom: 35px;
}

.custom-modal .modal-body {
  padding: 38px;
}

.close {
  opacity: 1;
}

.custom-modal .form-group {
  margin-bottom: 30px;
}

.custom-modal .member a {
  color: #77a6f6;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  font-weight: 600;
}

.custom-modal .search-box {
  border-color: #77a6f6;
  border-radius: 30px;
}

.custom-modal .form-control {
  border: 1px solid transparent;
  border-radius: 30px;
}

.custom-modal .submit-btn {
  height: 50px;
}

.custom-modal .btn {
  border-radius: 30px;
}

.custom-modal .btn-outline-primary {
  padding: 13px 10px;
  margin-bottom: 30px;
  color: #000;
  font-weight: 600;
}

.custom-modal .btn-outline-primary:hover {
  color: #ffffff;
}

.policy-text {
  border-bottom: 1px solid #707070;
  padding-bottom: 1rem;
}

.policy-text a {
  border-bottom: 1px solid #707070;
}

.forgot-link {
  color: #327eff;
  border-bottom: 1px solid #707070;
  padding-bottom: 5px;
  font-weight: 600;
}

.modal.show {
  overflow-y: auto;
}
