.list-inline.menu-header {
  display: flex;
  flex-direction: row;
}

.icons-header {
  margin-right: 10px;
  margin-bottom: 5px;
}

.navbar {
  height: 100px;
}


/* DIEGO */
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.icons{
  height: 100%;
  align-items: center;
  display: flex;
  margin: 0 10px;
}

.counter{
  width: 20px;
  height: 20px;
  background-color: royalblue;
  border-radius: 50%;
  padding: 3px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -13px;
  right: -8px;


}
